.hexagon-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hexagon {
  position: relative;
  width: 350px; /* Increased size */
  height: 404px; /* Increased size */
  margin: 25px; /* Adjusted margin */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background-color: hsl(var(--card));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px; /* Added padding to the hexagon itself */
}

.hexagon:hover {
  background-color: hsl(var(--primary) / 0.1);
}

.hexagon-inner {
  padding: 0px; /* Removed padding here as it's now on the hexagon */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.hexagon-image-container {
  width: 250px; /* Increased size */
  height: 250px; /* Increased size */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  margin-bottom: 15px; /* Adjusted margin */
  overflow: hidden;
}

.hexagon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hexagon:hover .hexagon-image {
}
